body {
    background: #c1e1ff;
}
.container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px;
    padding: 20px;
    width: 50%; 
    margin: 0 auto; 
}
.form-control {
    width: 100%;
}
.text-center-btn {
    text-align: center; 
}